<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
{{/*      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-roman.css">  */}}
    <title>Gabriel Moura</title>
    {{ partial "katex.html" . }}
</head>
<body>
    <div class="container">
        {{ partial "navbar" . }}
        {{ block "main" . }} {{ end }}
        {{ partial "footer" . }}
    </div>
</body>
</html>
