{{ define "main" }}
  <main style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 30vh; text-align: center;">
    <h1 style="font-size: 4rem; margin-bottom: 1rem;">
      {{ .Site.Title }}
    </h1>
    <h3>
      {{ .Site.Language.Params.description }}
    </h3>
    <br>
    <h3><a href="https://www.instagram.com/gmmacedogeo" class="socialLinks">Instagram</a> | <a href="https://linkedin.com/in/gabriel-moura-macedo/" class="socialLinks">Linkedin</a></h3>
    <ul class='homeListPosts'>
     {{ range where .Site.RegularPages "Section" "posts" }}
       <li style="display: flex">
         <a href="{{ .Permalink }}">{{ .LinkTitle }}</a><div><span style="display: block">{{ dateFormat .Site.Params.dateFormat .Date }}</span></div>
       </li>
     {{ end }}
    </ul>
  </main>
   {{ end }}
